@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(254,121,120);
    height: 100vh;
}

main {
    background: url(https://res.cloudinary.com/dqmqsjhv0/image/upload/v1657313403/image/bg-intro-desktop_x5eev5.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    font-family: Poppins;
}

.main-area {
    display: flex;
    align-items: center;
    width: 62.5rem;
    height: 90%;
    margin: auto;
    justify-content: space-between;
}

.text-intro {
    color: white;
    text-align: left;
    width: 450px;
}

.text-intro h1 {
    font-size: 3rem;
    margin: 0 0 30px 0;
}

.form-area {
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 20px;
}

#trial-card {
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    background-color: rgb(94,84,164);
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 0.75rem;
    box-shadow: 0 8px 2px -2px rgba(128, 128, 128, 0.438);
}

#trial-card span {
    font-weight: bolder;
}

.long[data-error] .input{
	border-color: #c92432;
	color: #c92432;
	background: url(https://res.cloudinary.com/dqmqsjhv0/image/upload/v1657313408/image/icon-error_kmb66s.svg) no-repeat scroll 7px 7px;
	background-position: 95% 50%;
}

.long[data-error]::after{
	content: attr(data-error);
	font-size: 0.6em;
	color: hsl(0, 100%, 74%);
	display: flex;
	justify-content: flex-end;
	font-style: italic;
}
form input, form button{
	height: 40px;
	border-radius: 5px;
	border-width: 1px;
	border-color: #EBF5DF;
	border-style: solid;
	font-weight: 600;
	outline: none;
	width: 100%;	
}


.form form input:focus {
	border-style: solid;
	border-width: 1px;
	border-color: var(--Dark-Blue);
}
.reg-form {
    padding: 40px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 8px 2px -2px rgba(128, 128, 128, 0.438);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.reg-form input {
    padding: 10px;
    font-size: 0.70rem;
    font-weight: bold;
    margin: 0 0 15px 0;
    border: 1px solid rgb(163, 162, 162);
    border-radius: 5px;;
}

form:active input:focus:invalid {
    border: 1px solid red;
    background: url(https://res.cloudinary.com/dqmqsjhv0/image/upload/v1657313408/image/icon-error_kmb66s.svg);
    background-repeat: no-repeat;
    background-position: 95%;
}

.reg-form input:active {
    border: 1px solid gray !important;
}

#register {
    background: rgb(51,207,139);
    color: white;
    border: 0px;
    cursor: pointer;
}

#t-and-c {
    font-size: 0.5rem;
    color: rgb(175, 173, 173);
}

#t-and-c a {
    color: rgb(254,121,120);
    font-weight: bold;
    text-decoration: none;
}

@media screen and (max-width: 1440px) {
    main {
        background: url(https://res.cloudinary.com/dqmqsjhv0/image/upload/v1657313403/image/bg-intro-desktop_x5eev5.png);
    }

    .main-area {
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        width: 500px;
        min-height: 500px;
        margin: 50px auto;
        justify-content: space-between;
        padding: 10px;
    }

    .text-intro {
        text-align: center;
        width: 100%;
    }

    .form-area {
        width: 100%;
    }
}

@media screen and (max-width: 375px) {
    main {
        background: url(https://res.cloudinary.com/dqmqsjhv0/image/upload/v1657313403/image/bg-intro-mobile_orkycq.png);
    }

    .main-area {
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        min-height: 500px;
        margin: 50px auto;
        justify-content: space-around;
        padding: 10px;
    }

    .text-intro {
        text-align: center;
        width: 100%;
    }

    .form-area {
        width: 100%;
    }
}
